In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_excel("/Users/yuesongyang/Desktop/Hack4Climate/GCAM.xlsx", sheet_name="GCAM_Timeseries data")

In [3]:
countries=["China", "India","Brazil","Canada","EU-12","United States","Japan"]

In [4]:
df=df[df["Region"].isin(countries)]

In [5]:
df.describe()

,2005,2010,2020,2030,2040,2050,2060,2070,2080,2090,2100
count,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000,3192.000000
mean,142.925321,159.959967,189.131762,219.140049,247.591517,276.504766,307.373107,344.278884,386.734528,435.338430,485.589844
std,813.850179,900.136851,1112.474762,1340.493088,1597.436902,1916.574022,2295.262883,2770.033567,3361.939248,4055.127213,4772.214160
min,-428.216635,-227.073304,-813.019680,-469.484367,-1198.342832,-2116.901806,-2708.381091,-3143.837166,-3502.242087,-3784.680610,-4025.675694
25%,0.000000,0.000000,0.030475,0.090192,0.195481,0.267135,0.295146,0.282692,0.276954,0.249294,0.247037
50%,0.771346,0.913819,1.100032,1.430160,1.999257,2.233525,2.324751,2.472440,2.511028,2.513366,2.628481
75%,8.417748,8.669498,9.531762,13.196176,15.557645,17.292896,17.772056,18.634401,19.610305,20.527530,21.776411
max,15440.051434,16282.796013,20206.502711,24590.578965,29678.284958,36122.712548,43276.535945,52064.191326,62312.696687,74343.255868,89543.625472

In [6]:
nrow=3192

In [7]:
def diff(x):
    return x[1]-x[0]

In [8]:
df.head()

,Model,Scenario,Region,ESP Indicator Name,Unit of Entry,2005,2010,2020,2030,2040,2050,2060,2070,2080,2090,2100
6,GCAM,Low policy,Brazil,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,65.765424,76.449922,76.725310,81.766053,82.763995,85.005540,87.127748,88.374211,88.324064,87.870320,88.529234
7,GCAM,Low policy,Canada,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,51.299339,47.662145,48.159964,49.594802,49.931695,50.397535,50.251913,50.209124,50.225780,50.084597,50.086371
10,GCAM,Low policy,China,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,157.359801,126.633380,128.513237,133.167312,140.401585,143.646448,146.380876,149.555891,151.737995,154.086730,158.089706
12,GCAM,Low policy,EU-12,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,39.692866,38.312433,41.214485,44.617879,47.583024,48.862530,49.475419,50.404620,51.004552,51.556373,52.197440
17,GCAM,Low policy,India,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,164.399229,164.423026,167.780729,169.879052,171.797843,172.153954,171.791455,171.372600,170.890883,170.488587,170.099433

In [9]:
row=df.iloc[0,5:7].tolist()
row

[65.76542381, 76.44992197]

In [10]:
s = np.random.normal(0, 1, nrow)

In [11]:
#2005-2010
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,5:7].tolist()
    res=diff(row)
    step_size=res/5
    new_col.append(step_size)

for j in range(1,5):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,5:6].values.tolist()[i][0] + float(s[i]))
    year=j+2005
    df[str(year)]=lst

In [12]:
#2010-2020
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,6:8].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,6:8].values.tolist()[i][0] + float(s[i]))
    year=j+2010
    df[str(year)]=lst

In [13]:
df.head(2)

,Model,Scenario,Region,ESP Indicator Name,Unit of Entry,2005,2010,2020,2030,2040,...,2009,2011,2012,2013,2014,2015,2016,2017,2018,2019
6,GCAM,Low policy,Brazil,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,65.765424,76.449922,76.725310,81.766053,82.763995,...,77.129015,79.293454,79.320993,79.348531,79.376070,79.403609,79.431148,79.458687,79.486226,79.513764
7,GCAM,Low policy,Canada,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,51.299339,47.662145,48.159964,49.594802,49.931695,...,49.173778,48.496121,48.545903,48.595684,48.645466,48.695248,48.745030,48.794812,48.844594,48.894376

In [14]:
#2020-2030
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,7:9].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,7:9].values.tolist()[i][0] + float(s[i]))
    year=j+2020
    df[str(year)]=lst

In [15]:
#2030-2040
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,8:10].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,8:10].values.tolist()[i][0] + float(s[i]))
    year=j+2030
    df[str(year)]=lst

In [16]:
#2040-2050
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,9:11].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,9:11].values.tolist()[i][0] + float(s[i]))
    year=j+2040
    df[str(year)]=lst

In [17]:
#2050-2060
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,10:12].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,10:12].values.tolist()[i][0] + float(s[i]))
    year=j+2050
    df[str(year)]=lst

In [18]:
#2060-2070
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,11:13].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,11:13].values.tolist()[i][0] + float(s[i]))
    year=j+2060
    df[str(year)]=lst

In [19]:
#2070-2080
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,12:14].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,12:14].values.tolist()[i][0] + float(s[i]))
    year=j+2070
    df[str(year)]=lst

In [20]:
#2080-2090
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,13:15].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,13:15].values.tolist()[i][0] + float(s[i]))
    year=j+2080
    df[str(year)]=lst

In [21]:
#2090-2100
new_col=[]
for i in range (0,nrow):
    row=df.iloc[i,14:16].tolist()
    res=diff(row)
    step_size=res/10
    new_col.append(step_size)

for j in range(1,10):
    lst=[]
    for i in range(0,nrow):
        lst.append(j * float(new_col[i]) + df.iloc[:,14:16].values.tolist()[i][0] + float(s[i]))
    year=j+2090
    df[str(year)]=lst

In [22]:
df.columns.tolist()

['Model',
 'Scenario',
 'Region',
 'ESP Indicator Name',
 'Unit of Entry',
 '2005',
 '2010',
 '2020',
 '2030',
 '2040',
 '2050',
 '2060',
 '2070',
 '2080',
 '2090',
 '2100',
 '2006',
 '2007',
 '2008',
 '2009',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2021',
 '2022',
 '2023',
 '2024',
 '2025',
 '2026',
 '2027',
 '2028',
 '2029',
 '2031',
 '2032',
 '2033',
 '2034',
 '2035',
 '2036',
 '2037',
 '2038',
 '2039',
 '2041',
 '2042',
 '2043',
 '2044',
 '2045',
 '2046',
 '2047',
 '2048',
 '2049',
 '2051',
 '2052',
 '2053',
 '2054',
 '2055',
 '2056',
 '2057',
 '2058',
 '2059',
 '2061',
 '2062',
 '2063',
 '2064',
 '2065',
 '2066',
 '2067',
 '2068',
 '2069',
 '2071',
 '2072',
 '2073',
 '2074',
 '2075',
 '2076',
 '2077',
 '2078',
 '2079',
 '2081',
 '2082',
 '2083',
 '2084',
 '2085',
 '2086',
 '2087',
 '2088',
 '2089',
 '2091',
 '2092',
 '2093',
 '2094',
 '2095',
 '2096',
 '2097',
 '2098',
 '2099']

In [23]:
df.head()

,Model,Scenario,Region,ESP Indicator Name,Unit of Entry,2005,2010,2020,2030,2040,...,2089,2091,2092,2093,2094,2095,2096,2097,2098,2099
6,GCAM,Low policy,Brazil,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,65.765424,76.449922,76.725310,81.766053,82.763995,...,90.731687,90.752204,90.818095,90.883987,90.949878,91.015770,91.081661,91.147553,91.213444,91.279336
7,GCAM,Low policy,Canada,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,51.299339,47.662145,48.159964,49.594802,49.931695,...,50.882909,50.868968,50.869145,50.869323,50.869500,50.869678,50.869855,50.870033,50.870210,50.870388
10,GCAM,Low policy,China,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,157.359801,126.633380,128.513237,133.167312,140.401585,...,154.946152,155.581323,155.981621,156.381919,156.782216,157.182514,157.582811,157.983109,158.383407,158.783704
12,GCAM,Low policy,EU-12,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,39.692866,38.312433,41.214485,44.617879,47.583024,...,51.351357,51.470646,51.534753,51.598859,51.662966,51.727073,51.791179,51.855286,51.919393,51.983499
17,GCAM,Low policy,India,"Agriculture, Land Use and Forestry|Land Cover|...",million Ha/yr,164.399229,164.423026,167.780729,169.879052,171.797843,...,170.283086,170.203941,170.165025,170.126110,170.087195,170.048279,170.009364,169.970449,169.931533,169.892618

In [29]:
lst=[]
lst2=["Model", "Scenario", "Region", "ESP Indicator Name", "Unit of Entry"]
for i in range (0,5):
    lst.append(lst2[i])
    
for i in range (2005,2101):
    lst.append(str(i))
    
df2 = df[lst]

In [30]:
df2.columns

Index(['Model', 'Scenario', 'Region', 'ESP Indicator Name', 'Unit of Entry',
       '2005', '2006', '2007', '2008', '2009',
       ...
       '2091', '2092', '2093', '2094', '2095', '2096', '2097', '2098', '2099',
       '2100'],
      dtype='object', length=101)

In [38]:
len(df2.columns.tolist()) - 5

96

In [33]:
df2.to_excel("projection.xlsx")

In [65]:
df3=pd.DataFrame()

In [66]:
df3.head()

Empty DataFrame
Columns: []
Index: []

In [67]:
for i in range (2005,2100):
    label=str(i) + "rate"
    lst=[]
    start=str(i)
    end=str(i+1)
    for j in range (0, nrow):
        if df2[start].tolist()[j] == 0:
            lst.append(0)
        else:
            lst.append((df2[end].tolist()[j]-df2[start].tolist()[j])/df2[start].tolist()[j])
    df3[label]=lst

In [68]:
df3.head(10)

,2005rate,2006rate,2007rate,2008rate,2009rate,2010rate,2011rate,2012rate,2013rate,2014rate,...,2090rate,2091rate,2092rate,2093rate,2094rate,2095rate,2096rate,2097rate,2098rate,2099rate
0,0.075311,0.030217,0.029331,0.028495,-0.008805,0.037195,0.000347,0.000347,0.000347,0.000347,...,0.032797,0.000726,0.000726,0.000725,0.000724,0.000724,0.000723,0.000723,0.000722,-0.030128
1,0.001106,-0.014165,-0.014368,-0.014578,-0.030741,0.017498,0.001027,0.001025,0.001024,0.001023,...,0.015661,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,0.000003,-0.015412
2,-0.032098,-0.040348,-0.042044,-0.043889,-0.054078,0.010126,0.001470,0.001467,0.001465,0.001463,...,0.009700,0.002573,0.002566,0.002560,0.002553,0.002547,0.002540,0.002534,0.002527,-0.004371
3,-0.010730,-0.007031,-0.007081,-0.007131,-0.003285,0.003664,0.007547,0.007491,0.007435,0.007380,...,-0.001663,0.001245,0.001244,0.001242,0.001241,0.001239,0.001238,0.001236,0.001235,0.004116
4,-0.001466,0.000029,0.000029,0.000029,0.001526,0.000548,0.002041,0.002037,0.002033,0.002029,...,-0.001670,-0.000229,-0.000229,-0.000229,-0.000229,-0.000229,-0.000229,-0.000229,-0.000229,0.001217
5,0.383680,-0.003093,-0.003102,-0.003112,-0.286130,0.402819,0.004546,0.004525,0.004505,0.004485,...,0.250497,0.003934,0.003918,0.003903,0.003888,0.003873,0.003858,0.003843,0.003828,-0.186579
6,-0.018790,-0.016938,-0.017229,-0.017532,-0.015514,-0.001811,0.000557,0.000557,0.000557,0.000557,...,0.000010,0.002043,0.002039,0.002035,0.002030,0.002026,0.002022,0.002018,0.002014,0.004010
7,0.000000,-0.000000,-0.000000,-0.000000,-1.000000,0.000000,-0.121056,-0.137728,-0.159727,-0.190090,...,-0.063236,0.018662,0.018320,0.017991,0.017673,0.017366,0.017069,0.016783,0.016506,0.091211
8,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.055474,0.052558,0.049934,0.047559,...,0.160414,0.012731,0.012571,0.012414,0.012262,0.012114,0.011969,0.011827,0.011689,-0.102353
9,0.000000,-0.000000,-0.000000,-0.000000,-1.000000,0.000000,-0.494970,-0.980080,-49.200660,1.020747,...,-0.011474,0.015938,0.015688,0.015445,0.015210,0.014983,0.014761,0.014547,0.014338,0.038565

In [69]:
df3.to_excel("projection_rate.xlsx")